.main{
    background-color: dodgerblue;
    height: 60px;
    width: 100%;
  }
  .icon{
    width: 30%;
    display: inline-block;
  }
  .a{ 
    
    width: 19px;
    margin-left: 110px;
    margin-bottom: 13px; 
  }
  .b{ 
    width: 40px;
  }
  .c{
    width: 40px;
    position: relative;
    right: 10px;
    margin-bottom: 5px;
  }
  .d{
    width: 14px;
    position: relative;
    right: 5px;
    margin-bottom: 11px;
    margin-right: 9px;
    
  }
  .e{
    width: 20px;
    margin-bottom: 11px;
    
  }
  .mid{
    width: 40%;
    display: inline-block;
    color: white;
  }   
  .midw{
    position: relative;
    bottom: 8px;
  }
  .but{
    width: 30%;
    display: inline;
  }
  .buts{
    position: relative;
    top: 16px;
  }


/* Home Bar */
.home{
  width: 100%;
  height: 80px;
  background-color: whitesmoke;
}
.side{
  width: 30%;
  display: inline;
}
.saylanilogo{
  margin-left: 115px;
  width: 200px;
  height: auto;    
  margin-top: 15px;
}
.navb{

  width: 70%;
  display: inline-block; 
  margin-left: 90px;
  
}
.list{
  display: inline;
  margin-left: 30px;
  font-size: 18px;
  position: relative;
  top: 10px;
  
}
.navbar{
  display: inline-block; 
  margin-left: 70px;
  
}

.newsbar{
  background-color: blue;
  position: relative;
  left: 60px;
  top: 10px;
  margin-right: 120px;
  color: white;
}

.introduction{
  background-color: whitesmoke;
  margin-top: 20px;
  padding-bottom: 80px;
}
.intro{
  color: blue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 70px; 
  
}
.duction{
  color: darkgreen;
} 
.small{
  padding-left: 10px;
  padding-right: 10px;
  width: 60px; 
}   
.smal{
  color: darkgreen;
  font-weight: bolder;
  text-align: center;
  font-size: 26px;
}

.para{
  text-align: justify;
  color:def;
  margin-left: 120px;
  margin-right: 120px;
}

.facts{
  background-color: rgb(78, 78, 250);
  height: 290px;
}
.fact{
  width: 50px;
  margin-top: 100px;
  margin-left: 245px;
  position: relative;
  bottom: 50px;
}

.num{
  display: inline;
  color: white;
  margin-left: 180px;
  font-variant-numeric: oldstyle-nums;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  bottom: 60px;
}

.factcap{
  display: inline;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 72px;
  position: relative;
  bottom: 60px;
}

.month{
  color:greenyellow;
}

.doing{
  background-color: whitesmoke;
  height: 650px;
}

.wee{
  color: blue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 70px;    
}

.doe{
  color: darkgreen;
}  
.smali{
  color: darkgreen;
  font-weight: bolder;
  text-align: center;
  font-size: 26px;
}
.smalli{
  padding-left: 10px;
  padding-right: 10px;
  width: 60px; 
}   


.sadqa{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 115px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;    
}
.stickyimg{
  width: 70px;
  margin-top: 30px;
  margin-left: 140px;
}
.sticky{
  color: blue;
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-top: 20px;
}
.wel{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;
}
.med{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;
}
.dastar{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 115px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;
}
.ro{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;
}
.edu{
  background-color: white;
  width: 350px;
  height: 180px;
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0px 10px 25px 7px gainsboro;
}

.project{
  width: 100%;
  height: 110px;
}

.miss{
  width: 65%;
  display: inline-block;
}

.event{
  width: 34%;
  display: inline-block;
}

.mission{
  color: blue;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  margin-left: 110px;
  margin-top: 50px;
  
}

.missi{
  color: blue;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  margin-top: 50px;
}

.line{
  position: relative;
  bottom: 45px;
  font-weight: bolder;
  font-size: 30px;
  color: darkgreen;
  margin-left: 110px;
}

.lin{
  position: relative;
  bottom: 45px;
  font-weight: bolder;
  font-size: 30px;
  color: darkgreen;
  margin-left: 0px;
}
.upline{
  color: lightgray;
}

.belowpro{
  width:100%;
  margin-top: 0px;
  height: 380px;
}

.below{
  width: 65%;
  display: inline-block;
}

.proone{
  background-color: whitesmoke;
  width: 350px;
  height: 70px;
  display: inline-block; 
  margin-left: 110px;
}
.protwo{
  background-color: whitesmoke;
  width: 350px;
  height: 70px;
  display: inline-block;  
  margin-left: 30px; 
}
.prothree{
  background-color: whitesmoke;
  width: 350px;
  height: 70px;
  display: inline-block;  
  margin-top: 20px; 
  margin-left: 110px;
}
.profour{
  background-color: whitesmoke;
  width: 350px;
  height: 70px;
  display: inline-block;  
  margin-left: 30px;
  margin-top: 20px; 
}

.pronote{
  display: inline-block;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  font-weight: bold;
}  
.proicon{
  margin: 20px;
}
.pro{
  width: 25%;
  display: inline-block;
  
}
.gallery{
  width: 100%;
}
.wey{
  color: blue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 70px;    
}

.doy{
  color: darkgreen;
}  
.smaly{
  color: darkgreen;
  font-weight: bolder;
  text-align: center;
  font-size: 26px;
}
.smally{
  padding-left: 10px;
  padding-right: 10px;
  width: 60px; 
}   

.images{
  height: 300px;
  width: 100%;
}
.rashan{
  width: 18%;
  height: 160px;
  display: inline-block;
  margin-left: 55px;
}
.rashan1{
  width: 100%;
}
.food{
  width: 18%;
  height: 160px;
  display: inline-block;
}
.food1{
  width:100%
}
.hazrat{
  width: 18%;
  height: 160px;
  display: inline-block;
}
.hazrat1{
  width:100%
}
.rashans{
  width: 18%;
  height: 160px;
  display: inline-block;
  
  

}
.rashan2{
  width: 100%;
}
.hazrats{
  width: 18%;
  height: 160px;
  display: inline-block;
  
}
.hazrat2{
  width:100%
}

.footer{
  background-color: black;
  width: 100%;
  height: 400px;
  color: white;
}

.office{
  width: 33%;
  display: inline-block;
}
.useful{
  width: 33%;
  display: inline-block;
}
.use{
  margin-bottom: 225px;
  font-weight: bold;
}
.connect{
  width: 33%;
  display: inline-block;
}
.head{
  margin-top: 100px;
  margin-left: 40px;
}
.add{
  margin-left: 60px;
}
.us{
  margin-bottom: 225px;
  font-weight: bold;
}

.uselink{
  position: relative;
  bottom: 250px;
  font-weight: bolder;
  font-size: 30px;
  color: darkgreen;
  margin-left: 0px;
}
.useline{
  color:lightgray;
}
.blue{
  width: 60px;
  position: relative;
  bottom: 235px;
}
.fbico{
  width: 51px;
  position: relative;
  bottom: 235px;
}
.inico{
  width: 60px;
  position: relative;
  bottom: 253px;
}

.copyright{
  background-color:royalblue;
  width: 100%;
  height: 50px;
}
.copy{
  text-align: center;
  color: white;
  padding-top: 10px;
}

.hov:hover{
  background-color: blue;
  padding: 5px;
  padding-right: 0px;
}
.list:hover{
  background-color: dodgerblue;
  color: white;
  border-radius: 15px;
  max-width: max-content;
}







@media only screen and (max-width:320px) {
  .main {
      width: 100%;
      height: 100%;
      text-align: center;
  }
    .icon{
      width: 100%;
      text-align: center;
      padding-left: 2px;
      margin-top: 0px;              
  }
  .a{
    margin-left: 0px;
   }
    .mid{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 10px;
  }
  .but{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;
    position: relative;
    bottom: 30px;
  } 

  .home{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-right: 0px;
  }
  .side{
    width: 100%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
  }
  .navb{
    width: 100%;
    display: inline-block; 
    margin-left: 5px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 18px;
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 
  
}






@media only screen and (max-width: 375px) {
  .main {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .icon{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;              
 }
 .a{
  margin-left: 0px;
 }
  .mid{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
  }
  .but{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin-top: 0px;
  position: relative;
  bottom: 30px;
  } 


  .home{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-right: 0px;
  }
  .side{
    width: 100%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
  }
  .navb{
    width: 100%;
    display: inline-block; 
    margin-left: 5px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 18px;
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 
}



@media only screen and (max-width: 425px) {
  .main {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .icon{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;              
 }
 .a{
  margin-left: 0px;
 }
  .mid{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
  }
  .but{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin-top: 0px;
  position: relative;
  bottom: 30px;
  } 

  .home{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-right: 0px;
  }
  .side{
    width: 100%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
  }
  .navb{
    width: 100%;
    display: inline-block; 
    margin-left: 5px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 18px;
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .icon{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;              
 }
 .a{
  margin-left: 0px;
 }
  .mid{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
  }
  .but{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin-top: 0px;
  position: relative;
  bottom: 30px;
  } 


  .home{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-right: 0px;
  }
  .side{
    width: 100%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
  }
  .navb{
    width: 100%;
    display: inline-block; 
    margin-left: 0px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 18px;
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 

}

@media only screen and (max-width: 1017px) {
  .main {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .icon{
    width: 100%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;              
 }
 .a{
  margin-left: 0px;
 }
  .mid{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
  bottom: 10px;
  }
  .but{
  width: 100%;
  text-align: center;
  padding-left: 2px;
  margin-top: 0px;
  position: relative;
  bottom: 30px;
  } 

  .home{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-right: 0px;
  }
  .side{
    width: 100%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
  }
  .navb{
    width: 100%;
    display: inline-block; 
    margin-left: 5px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 18px;
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 

}

@media only screen and (min-width: 1018px){
  .main {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .icon{
    width: 16%;
    text-align: center;
    padding-left: 2px;
    margin-top: 0px;              
 }
 .a{
  margin-left: 0px;
 }
  .mid{
  width: 53%;
  text-align: center;
  padding-left: 2px;
  margin: 0px;
  margin-top: 5px;
  position: relative;
  top: 1px;
  bottom: 0px;
  }
  .but{
  width: 31%;
  text-align: center;
  padding-left: 2px;
  margin-top: 0px;
  position: relative;
  bottom: 20px;
  margin-left: 0px;
  left: 0px;
  } 

  .home{
    width: 100%;
    height: fit-content;
    /* text-align: center; */
    padding-right: 0px;
  }
  .side{
    width: 32%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
    bottom: 2px;
    margin-left: 115px;
  }
  .navb{
    width: 68%;
    display: inline-block; 
    margin-left: 0px;
  }
  .list{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 70px;
    
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 
}

@media only screen and (min-width: 1366px){
  .main{
    background-color: dodgerblue;
    height: 60px;
    width: 100%;
  }
  .icon{
    width: 30%;
    display: inline-block;
    position: relative;
    right: 30px;
  }
  .a{ 
    
    width: 19px;
    margin-left: 0px;
    margin-bottom: 13px; 
  }
  .b{ 
    width: 40px;
  }
  .c{
    width: 40px;
    position: relative;
    right: 10px;
    margin-bottom: 5px;
  }
  .d{
    width: 14px;
    position: relative;
    right: 5px;
    margin-bottom: 11px;
    margin-right: 9px;
    
  }
  .e{
    width: 20px;
    margin-bottom: 11px;
    
  }
  .mid{
    width: 40%;
    display: inline-block;
    color: white;
    margin-right: 0px;
  }   
  .midw{
    position: relative;
    bottom: 8px;
    right: 60px;
  }
  .but{
    width: 30%;
    display: inline;
    margin-right: 40px;
  }
  .buts{
    position: relative;
    top: 16px;
  }

  .home{
    width: 100%;
    height: fit-content;
    /* text-align: center; */
    padding-right: 0px;
  }
  .side{
    width: 32%;
    display: inline;
  }
  .saylanilogo{
    margin-left: 115px;
    width: 200px;
    height: auto;    
    margin-top: 15px;
    position: relative;
    right: 110px;
    bottom: 2px;
    margin-left: 225px;
  }
  .navb{
    width: 68%;
    display: inline-block; 
    margin-left: 0px;
  }
  .list{
    display: inline;
    margin-left: 38px;
    font-size: 18px;
    position: relative;
    top: 10px;
    right: 20px;
    
  }
  .navbar{
    display: inline-block; 
    margin-left: 0px;
  } 






}



